@using BookingSite.ViewModel
@{
  Layout = null;
}
@model RegisterModelView
<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
  <title>Sign up | Mantis Bootstrap 5 Admin Template</title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
    content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
  <meta name="keywords"
    content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
  <meta name="author" content="CodedThemes">
  <!-- [Template CSS Files] -->
  <!-- [Template CSS Files] -->
  <link rel="stylesheet" href="~/css/style.css" id="main-style-link">
  <link rel="stylesheet" href="~/css/style-preset.css">
</head>

<body>
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
          <a href="#"><img src="../assets/images/logo-dark.svg" alt="img"></a>
        </div>
        <form asp-action="Register" method="post">
          <div class="card my-5">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-end mb-4">
                <h3 class="mb-0"><b>Sign up</b></h3>
                <a href="#" class="link-primary">Already have an account?</a>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" asp-for="FirstName">First Name*</label>
                    <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" asp-for="LastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" asp-for="Email">Email Address*</label>
                <input type="email" class="form-control" placeholder="Email Address" asp-for="Email">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" asp-for="Password">Password</label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
              </div>
              <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">Create Account</button>
              </div>
              @* <div class="saprator mt-3">
              <span>Sign up with</span>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="../assets/images/authentication/google.svg" alt="img"> <span class="d-none d-sm-inline-block"> Google</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="../assets/images/authentication/twitter.svg" alt="img"> <span class="d-none d-sm-inline-block"> Twitter</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="../assets/images/authentication/facebook.svg" alt="img"> <span class="d-none d-sm-inline-block"> Facebook</span>
                  </button>
                </div>
              </div> 
            </div>*@
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>