@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TenPM Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/booking/style.css">
</head>
<style>

</style>
<body>
    <div class="card custom-card">
        <img src="/images/MayBay.png" class="card-img-top" alt="Ảnh đẹp">
    </div>
    <div class="container">
        <nav aria-label="breadcrumb"  style="--bs-breadcrumb-divider: '›';"></nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/"><i class="bi bi-house-fill"></i></a>
                </li>
                <li class="breadcrumb-item active " aria-current="page">
                    <a href="/TenPMClub">TenPM Club</a></a>
                </li>
            </ol>
        </nav>
    </div>
    
    <!-- Phần đặt vé-->
    <div class="container">
        <h4 class="fw-bold mb-4">TenPM Club</h4>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card card-custom">
                    <img src="/images/Thong tin dat ve.png" class="card-img-top" alt="Thông tin đặt vé">
                    <div class="card-overlay">
                        <h5>Giới thiệu TenPM Club</h5>
                        <a href="#" class="text-white text-decoration-underline">Xem chi tiết</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-custom">
                    <img src="/images/Additional Service.jpg" class="card-img-top" alt="Dịch vụ bổ trợ">
                    <div class="card-overlay">
                        <h5>Tích lũy điểm</h5>
                        <a href="#" class="text-white text-decoration-underline">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-custom">
                    <img src="/images/Inflight.jpg" class="card-img-top" alt="Trải nghiệm">
                    <div class="card-overlay">
                        <h5>Sử dụng điểm</h5>
                        <a href="#" class="text-white text-decoration-underline">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-custom">
                    <img src="/images/Bamboo and More.jpg" class="card-img-top" alt="Sản phẩm bổ trợ">
                    <div class="card-overlay">
                        <h5>Mua tặng điểm</h5>
                        <a href="#" class="text-white text-decoration-underline">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6"></div>
                <div class="card card-custom">
                    <img src="/images/Qua_tang.jpg" class="card-img-top" alt="Sản phẩm bổ trợ">
                    <div class="card-overlay">
                        <h5>Tin tức & Ưu đãi</h5>
                        <a href="#" class="text-white text-decoration-underline">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
