@{
    ViewData["Title"] = "Edit User Details";
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
}
@model BookingSite.Models.User
<div class="pc-container">
    <div class="pc-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4 shadow-sm border-light">
                    <div class="card-header text-white">
                        <h2 class="mb-0">Edit User Information</h2>
                    </div>
                    <div class="card-body">
                        <form asp-action="EditUser" method="post" asp-controller="Users" asp-route-id="@Model.UserID">
                            <input type="hidden" asp-for="UserID" />
                            <div class="form-group mb-3">
                                <label class="form-label">User Name</label>
                                <input asp-for="FullName" class="form-control" placeholder="Enter User Name" />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="userRole">Role</label>
                                <select asp-for="Role" class="form-select" id="userRole">
                                    <option value="Admin">Admin</option>
                                    <option value="Customer">Customer</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="/admin/users" class="btn btn-secondary">Back to List</a>
                                <button type="submit" class="btn btn-primary">Update User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
